#sky{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../img/Background-01.png') no-repeat;
    z-index: -2;
    background-size: cover;

    object-fit: cover;

    overflow: hidden;
}

$mult: 1.6;
#createCometa {
    font-size: 1rem;
    background-color: transparent;
    background-image: url('../../img/button/Lanzar\ cometa.png');
    width: 21vh * $mult;
    height: 7.18vh * $mult;
    background-size: cover;
    border: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    &:hover {
        filter: brightness(90%);
    }
}

$tamano: 20%;
$estirar: 15;
.cometaDiv {
    position: absolute;
    z-index: -1;


    width: $tamano;
    height: $tamano;

    .mainCometa {
        position: absolute;
        width: 100%;
        transform: skew(-$estirar + deg);
        border: .5vh #8e4736 solid;
    }

    .tail {
        width: 100%;
        height: auto;
        position: absolute;
        filter: invert(33%) sepia(31%) saturate(877%) hue-rotate(324deg) brightness(93%) contrast(99%);

        transform: translate(-104%, 150%);
    }
}

#createCometaDiv {
    background-color: rgba(255, 255, 255, 0.884);
    width: 70%;
    height: 30%;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);

    box-shadow: -4px -3px 45px 21px rgba(255, 255, 255, 0.35);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}